[Unit]
Description=Create Var Filesystem
DefaultDependencies=no
Before=local-fs-pre.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/lib/coreos/create_var
StandardOutput=journal+console
