[Unit]
Requires=create-var.service
Conflicts=umount.target
Before=local-fs.target umount.target
ConditionPathIsMountPoint=/usr

[Mount]
What=/dev/disk/by-label/VAR
Where=/var
